#**AI in Industry**

**Author**: Jyoti Yadav

**Date**: March 2022

**Email**: jyoti.yadav@studio.unibo.it

##Preliminary Steps

In [70]:
# The libraries we will use are imported here, in case of runtime problems
import os, shutil  #  file management
import sys 
import pandas as pd  #  dataframe management
import numpy as np  #  data manipulation

it is necessary, to clean all the data that are in the DATASETS directory and wipe out all the subdirectories.

In [71]:
folder = os.getcwd()

print("Current work directory: " + str(folder))

dataset_folder = os.path.join(os.getcwd(), "Datasets")

if not os.path.exists(dataset_folder):
    os.makedirs(dataset_folder)

for filename in os.listdir(dataset_folder):
    file_path = os.path.join(dataset_folder, filename)
    try:
        if os.path.isfile(file_path) or os.path.islink(file_path):
            os.unlink(file_path)
        elif os.path.isdir(file_path):
            shutil.rmtree(file_path)
    except Exception as e:
        print('Failed to delete %s. Reason: %s' % (file_path, e))

print("Cleaned")

Current work directory: /content
Cleaned

##Dataset Download

In [72]:
from urllib import request
import gzip

# Config
print("Current work directory: {}".format(os.getcwd()))

dataset_folder = os.path.join(os.getcwd(), "Datasets")

if not os.path.exists(dataset_folder):
    os.makedirs(dataset_folder)

url = "https://github.com/jyotiyadav94/Ai-in-industry/raw/main/new_data/r205n12.gzip"

dataset_path = os.path.join(dataset_folder, "r205n12.gzip")

print(dataset_path)

def download_dataset(download_path: str, url: str):
    if not os.path.exists(download_path):
        print("Downloading dataset...")
        request.urlretrieve(url, download_path)
        print("Download complete!")


def extract_dataset(download_path: str, extract_path: str):
    data = pd.read_parquet('/content/Datasets/r205n12.gzip')
    print("Extraction completed!")
    return data

# Download
download_dataset(dataset_path, url)

#Extraction
df=extract_dataset(dataset_path, dataset_folder)

Current work directory: /content
/content/Datasets/r205n12.gzip
Downloading dataset...
Download complete!
Extraction completed!

In [74]:
df.head(5)

                timestamp  avg:ambient  ...  label  New_label
index                                   ...
24    2020-06-01 00:00:00    25.575000  ...      0          0
27    2020-06-01 00:15:00    25.560000  ...      0          0
30    2020-06-01 00:30:00    25.600000  ...      0          0
33    2020-06-01 00:45:00    25.600000  ...      0          0
36    2020-06-01 01:00:00    25.571429  ...      0          0

[5 rows x 463 columns]